body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: aliceblue;
  color: black;
  transition: linear 0.1s;
}
.btn:hover {
    background-color: lightgray;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-items: center;
    background-color: rgba(148, 133, 133, 0.2);
    backdrop-filter: blur(8px);
}

.header h2 {
    text-align: center;
    letter-spacing: 2px;
}

.rocket-icon {
    font-size: 2rem;
    position: relative;
    top: 4px;
}
